.button1 {
    font-size: 16px;
    margin:  0;
    padding: 11px 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    position: relative;
   top: -16px;
   right: -1080px;
  }
  
  .button1, input[type="submit"] {
    border-color:rgb(0, 11, 160);
    color:#fdfdfd;
    background-color :rgb(0, 11, 160);
  }
  
  
  /* Button Hover Color */
  
  .button1:hover,  input[type="submit"]:hover {
    border-color:#f3f2ed;
    color:rgb(0, 11, 160);
    background-color: #f3f2ed
  
  }