<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="en">
        <meta charset="utf-8">
        <title>Custom Plunker</title>  
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script src="https://rawgithub.com/danialfarid/angular-file-upload/master/dist/angular-file-upload.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body ng-controller="MyCtrl">
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-repeat="result in csvResults">{{result}}</div>
    </body>
</html>